article{
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid rebeccapurple;
    color:rgb(38, 38, 49);
    height: 400px;
}
@media  screen and (min-width:600px) {
    section{
      display: grid;  
      grid-template-columns: auto auto;
      gap: 20px;
    }
}
@media  screen and (min-width:992px) {
    section{
      display: grid;  
      grid-template-columns: auto auto auto;
      gap: 20px;
    }
}
.title{
    background: #000;
    color: white;
    padding: 10px;
}